<%- include("../partials/header") %>

<main>
  <div class="container">
    <p>
      This is going to be place to showcase content of Grade
      <strong><%= grade.name %></strong>
    </p>
  </div>
</main>

<%- include("../partials/footer") %>
