<%- include("../partials/header") %>
<!-- :: Header -->
<header>
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xl-7 col-lg-8 text-lg-left text-center">
        <h1 class="mb-4 text-uppercase">
          Welcome to the free resource for notes
        </h1>
        <p class="mb-5">
          Start exploring your creativity with our quality and effective free notes, exercises, tips, etc. for prepartion of your exams.
        </p>
        <div
          class="
            d-flex
            flex-wrap
            align-items-center
            justify-content-lg-start justify-content-center
          "
        >
          <a href="#" class="th-btn th-btn-fill-primary mx-2 my-2">
            <i class="fa fa-search mr-2"></i>
            Explore Classes
          </a>
          <a href="#" class="th-btn th-btn-outline-primary mx-2 my-2">
            <i class="fa fa-diamond mr-2"></i>
            Support
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- social links -->
  <ul class="social-links list-unstyled d-lg-block d-none mb-0 child-mb-1">
    <li>
      <a
        href="#"
        class="d-inline-flex align-items-center justify-content-center"
        ><i class="fa fa-facebook"></i
      ></a>
    </li>
    <li>
      <a
        href="#"
        class="d-inline-flex align-items-center justify-content-center"
        ><i class="fa fa-twitter"></i
      ></a>
    </li>
    <li>
      <a
        href="#"
        class="d-inline-flex align-items-center justify-content-center"
        ><i class="fa fa-linkedin"></i
      ></a>
    </li>
  </ul>
</header>

<%- include("../partials/footer") %>
