<footer>
    <div class="footer clearfix mb-0 text-muted">
      <div class="float-start">
        <p><%= new Date().getFullYear() %> &copy; Mazer</p>
      </div>
    </div>
  </footer>
</div>
</div>
<script src="/admin-assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/admin-assets/js/bootstrap.bundle.min.js"></script>

<!-- <script src="/admin-assets/vendors/apexcharts/apexcharts.js"></script> -->
<!-- <script src="/admin-assets/js/pages/dashboard.js"></script> -->

<script src="/admin-assets/js/main.js"></script>
</body>
</html>
